body{
    background-image: url('https://img.freepik.com/premium-vector/cooking-watercolor-seamless-pattern-vegetables-pink-background_324389-169.jpg');
  }

  p1{
    background-image: url('https://png.pngtree.com/thumb_back/fh260/back_pic/03/60/54/2457a5e775643b1.jpg');
    color: white;
    font-size: 70px;
    padding: 155px;
  }

  ul,li{
    color: lightcoral;
  }

  html {
    background-color: thistle;
  }
  
  .centered-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url("https://www.themealdb.com/images/logo-small.png") no-repeat
      center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: auto;
    min-height: auto;
  }
  
  .centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
  }
  
  .card {
    height: auto;
    padding: inherit;
    text-align: left;
    font-family: cursive;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 25px;
    margin: 15px;
    color: black;
    background-color: white;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  .header-search {
    padding: 30px;
    width: -webkit-fill-available;
  }
  
  .header-title {
    margin-top: 120px;
  }
  
  .col-4 {
    float: left;
    width: 33.33%;
  }
  
  .col-6 {
    float: left;
    width: 50%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  input[type="text"] {
    width: 500px;
    padding: 12px 20px;
    box-sizing: border-box;
  }

